server:
  port: 9000  # 网关对外的大门，所有流量从这进

spring:
  application:
    name: api-gateway

  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password: "123456"
      database: 6

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

  cloud:
    nacos:
      server-addr: 127.0.0.1:8848 # 告诉网关去哪里找组织（Nacos）
      # 【细节】Spring Cloud 新版特性，关闭配置导入检查，防止没配置时报错
      config:
        import-check:
          enabled: false

    gateway:
      routes: [] # 留空，全靠动态加载

    sentinel:
      transport:
        dashboard: localhost:8090 # Sentinel 控制台地址
      datasource: # 【持久化】告诉 Sentinel：规则别存在内存里，去 Nacos 读 json 文件
        # 1. 流控规则 (限流)
        gateway-flow-rules:
          nacos:
            server-addr: 127.0.0.1:8848
            data-id: gateway-sentinel-flow.json
            group-id: DEFAULT_GROUP
            data-type: json
            rule-type: gw-flow # 指定规则类型为“网关流控”
        # 2. 降级规则 (熔断)
        gateway-degrade-rules:
          nacos:
            server-addr: 127.0.0.1:8848
            data-id: gateway-sentinel-degrade.json # 名字叫：degrade
            group-id: DEFAULT_GROUP
            data-type: json
            rule-type: degrade  # 规则类型必须是 degrade

springdoc:
  api-docs:
    enabled: true  # 开启文档生成功能
  swagger-ui:
    enabled: false # 关闭自带的 Swagger UI，防止它抢占配置接口

knife4j:
  enable: true
  gateway:
    enabled: true
    # 聚合策略：手动配置 (最稳)
    strategy: manual
    routes:
      - name: 网关管理服务 (Gateway)
        url: /v3/api-docs?group=default # 访问本机的文档接口
        service-name: api-gateway
        context-path: / # 网关接口通常没有统一前缀，或者写 /admin
        order: 1 # 排在第一个

      - name: 用户服务 (Consumer)
        # 这里的 /v3/api-docs 是 SpringBoot 3 默认的文档路径
        # service-name 必须和 Nacos 里的服务名一致
        url: /service-consumer/v3/api-docs
        service-name: service-consumer
        context-path: /service-consumer
        order: 2

      - name: 提供者服务 (Provider)
        url: /service-provider/v3/api-docs
        service-name: service-provider
        context-path: /service-provider
        order: 3

management:  #【监控探针】
  endpoints:
    web:
      exposure:
        include: "*" # 暴露所有监控端点 (生产环境要谨慎)
  endpoint:
    health:
      show-details: always
